
//*******************************Variables*******************************
$dark-grey: #2E2F2F;
$light-grey: #EFF0F0;
$light-blue: #34BDEE;
$button-color: #E52749;
$white: #FFF;
//*******************************Universal Stylings***************************
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;

	li{
		display: inline-block;
	}
}
h2{
	margin: 0;
}
p{
	margin: 0;
}
a{
	border: none;
	outline: none;
	text-decoration: none;
	text-align: center;
	color: $white;
}
//*******************************Navigation Styings***************************
.nav-bar{
	float: right;
}
.nav{
	span{
		font-size: 2rem;
	}
	ul{
		
		padding: 0.25rem 0;
		background-color: $dark-grey;
		width: 100%;
		float: right;

		li{
			font-size: 1.5rem;
			font-weight: 900;
			float: left;
			text-align: center;
			padding: 1rem;
			color: $white;

		}
	}
}
//*******************************Content Styings************************

.content{
	padding-top: 3.5rem;
	height: 100vh;
	background-color: $light-blue;

	h1{
		color: $white;
		text-align: center;
		font-size: 4.5rem;
	}
	span{
		font-size: 200%;
	}

	ul{
		border-radius: 1rem;
		padding: 0 17.5%;
		width: 65%;
		li{
			width: 100%;
			padding: 0;
			margin: 0;
			background-color: $white;

			&:first-child{
				border-radius: 1rem 1rem 0 0;
			}
			&:nth-child(2n) {
       			background-color: $light-grey;
      		}
			&:last-child{
				border-radius: 0 0 1rem 1rem;
			}

			.date{
				float: left;
				height: 256px;
				width: 20%;
				text-align: center;
				font-size: 1.5em;
				h3{
					font-size: 1.5em;
					margin: 20% 0;
				}
			}
			.description{
				height: 256px;
				width: 60%;
				float: left;	
				h2{
					font-size: 2em;
					padding: 1.5rem 0 0 1.5rem;
				}	
				p{
					padding: 0.5rem 1.5rem;
					font-size: 1.25em;
				}
			}
			.view{
				height: 256px;
				text-align: center;
				vertical-align: middle;
				line-height: 256px;
				float: left;
				width: 20%;
			}
		}
	}
}

//***************************************Button*******************
.button{
	background-color: $button-color;
	font-size: 1.5rem;
	padding: 0.4rem 0.6rem ;
	border-radius: 0.3rem;
	font-weight: 700;
}
