
//*******************************Variables*******************************
$dark-grey: #2E2F2F;
$light-grey: #EFF0F0;
$light-blue: #34BDEE;
$button-color: #E52749;
$white: #FFF;
//*******************************Universal Stylings***************************
//trying to just normalize some of the bullshit default css things to 0
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;

	li{
		display: inline-block;
	}
}
h2{
	margin: 0;
}
p{
	margin: 0;
}
a{
	border: none;
	outline: none;
	text-decoration: none;
	text-align: center;
	color: $white;
}
//*******************************Navigation Styings***************************
//Do we want a fixed nav bar? if so we need to make some changes
.nav-bar{
	float: right;
}

.nav{
	span{
		font-size: 2rem;
	}
	ul{
		
		padding: 0.25rem 0;
		background-color: $dark-grey;
		width: 100%;
		//float right with li's floating left was the best way I could find to make the 1________1_1_1 structure
		float: right;

		li{
			font-size: 1.5rem;
			font-weight: 900;
			float: left;
			text-align: center;
			padding: 1rem;
			color: $white;

		}
	}
}
//*******************************Content Styings************************

.content{
	//ISSUE ***** want to fix this padding-top. at the moment removing this fucks up the nav and pulls it down...? This also is padding from the top- not from the nav div RIGHT above it.
	//		*****I assume this is something simmple that I just dont know, but a fix would be appreciated!
	padding-top: 3.5rem;

	//Was trying to do the height in a way that the background of the wholeeee content section would be blue and fit EXACTLY the length of the screen it is viewed on
	//At the moment this is not working. I think it may be better to just set the whole pages background to this blue so we dont have to worry about the spacing, but again- not sure.
	height: 100vh;
	background-color: $light-blue;

	h1{
		color: $white;
		text-align: center;
		font-size: 4.5rem;
	}
	span{
		font-size: 200%;
	}
	.attending-paw{
		display: block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: url(../images/paw.jpg);
		width:161px;
		height:206px;
		padding-right:161px;
	}

	ul{
		border-radius: 1rem;
		padding: 0 17.5%;
		width: 65%;
		li{
			width: 100%;
			padding: 0;
			margin: 0;
			background-color: $white;
//	***** Makes the top and bottom rounded a bit more than in the design, but i couldnt notice anything less
			&:first-child{
				border-radius: 1rem 1rem 0 0;
			}
//	***** Makes it so every other li is grey
			&:nth-child(2n) {
       			background-color: $light-grey;
      		}
			&:last-child{
				border-radius: 0 0 1rem 1rem;
			}
//	***** This stuff is a bit looks a bit ugly, I know.... Sorry! 
			.left{
				float: left;
				height: 256px;
				width: 20%;
				text-align: center;
				font-size: 1.5em;
				h3{
					font-size: 1.5em;
					margin: 20% 0;
				}
			}
			.body{
				height: 256px;
				width: 60%;
				float: left;	
				h2{
					font-size: 2em;
					padding: 1.5rem 0 0 1.5rem;
				}	
				p{
					padding: 0.5rem 1.5rem;
					font-size: 1.25em;
				}
			}

			//All that is left for hackathons is to add the paw print for attending/not attending
			//
			.right{
				height: 256px;
				text-align: center;
				vertical-align: middle;
				line-height: 256px;
				float: left;
				width: 20%;
			}
		}
	}
}

//***************************************Button*******************
//We may want to make this into two different classes so we can reuse the same button style without having it red
.button{
	background-color: $button-color;
	font-size: 1.5rem;
	padding: 0.4rem 0.6rem ;
	border-radius: 0.3rem;
	font-weight: 700;
}
