body{
	background: #30beee
}
div.header{
	background-color: #2f302f;
	font-size: 20px;
}
span.Links{
	float:right;
}
h1{
	color: #ffffff;
}
a{
	text-decoration: none;
	color: #ffffff;
}
div.footer{
	padding-top: 5px;
	background-color: #2f302f;
}
div.Copywrite{
	color: #aaabab;
}
p.Date1{
	padding: 20px 20px;
	font-size: 27px;
}
p.Date2{
	padding: 20px 20px;
	font-size: 27px;
}
p.Date3{
	padding: 20px 20px;
	font-size: 27px;
}
p.button1{
	padding: 20px 20px;
}
p.button2{
	padding: 20px 20px;
}
p.button3{
	padding: 20px 20px;
}
h2.title1{
	float:left;
	font-size: 21px;
	padding:none;
}
p.desc1{
	float:left;
}
h2.title3{
	float:left;
	font-size: 21px;
	padding:none;
}
p.desc3{
	float:left;
}
h2.title2{
	float:left;
	font-size: 21px;
	padding:none;
}
p.desc2{
	float:left;
}