<div class="nav">
<ul>
	<li><span><a href="#">{PH}</a></span></li>
	
	<div class="nav-bar">
		<li><a href="#">EVENTS</a></li>
		<li><a href="#">HACKATHONS</a></li>
		<li><a href="#">SLACK</a></li>
		<li class="profile"></li>
	</div>
</ul>
</div>